<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.student.mapper.TStudentMapper">
    
    <resultMap type="TStudent" id="TStudentResult">
        <result property="studentNo"    column="student_no"    />
        <result property="studentName"    column="student_name"    />
        <result property="studentSex"    column="student_sex"    />
        <result property="stuPass"    column="stu_pass"    />
    </resultMap>

    <sql id="selectTStudentVo">
        select student_no, student_name, student_sex, stu_pass from t_student
    </sql>

    <select id="selectTStudentList" parameterType="TStudent" resultMap="TStudentResult">
        <include refid="selectTStudentVo"/>
        <where>  
            <if test="studentNo != null "> and student_no = #{studentNo}</if>
            <if test="studentName != null  and studentName != ''"> and student_name like concat('%', #{studentName}, '%')</if>
            <if test="studentSex != null  and studentSex != ''"> and student_sex = #{studentSex}</if>
        </where>
    </select>
    
    <select id="selectTStudentByStudentNo" parameterType="Long" resultMap="TStudentResult">
        <include refid="selectTStudentVo"/>
        where student_no = #{studentNo}
    </select>
        
    <insert id="insertTStudent" parameterType="TStudent">
        insert into t_student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentNo != null">student_no,</if>
            <if test="studentName != null">student_name,</if>
            <if test="studentSex != null">student_sex,</if>
            <if test="stuPass != null">stu_pass,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentNo != null">#{studentNo},</if>
            <if test="studentName != null">#{studentName},</if>
            <if test="studentSex != null">#{studentSex},</if>
            <if test="stuPass != null">#{stuPass},</if>
         </trim>
    </insert>

    <update id="updateTStudent" parameterType="TStudent">
        update t_student
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentName != null">student_name = #{studentName},</if>
            <if test="studentSex != null">student_sex = #{studentSex},</if>
            <if test="stuPass != null">stu_pass = #{stuPass},</if>
        </trim>
        where student_no = #{studentNo}
    </update>

    <delete id="deleteTStudentByStudentNo" parameterType="Long">
        delete from t_student where student_no = #{studentNo}
    </delete>

    <delete id="deleteTStudentByStudentNos" parameterType="String">
        delete from t_student where student_no in 
        <foreach item="studentNo" collection="array" open="(" separator="," close=")">
            #{studentNo}
        </foreach>
    </delete>

</mapper>